@import "alert";
@import "avatars";
@import "badges";
@import "cocktail_card";


.text-white {
  color: white;
}

.text-large {
  font-size: 96px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
